<div class="content-wrapper">
	<section class="content-header">
      <h1>
        Dashboard
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
      </ol>
    </section>
    <section class="content-header">
      <section class="content">
      	

      <div class="row">
        <div class="col-md-12">
          <div class="box">
            <div class="box-header with-border" style="min-height: 775px;
">
              <h3 class="box-title">Monthly Recap Report</h3>

              <div class="box-tools pull-right">
               
                <div class="btn-group">
                 
                 
                </div>
                
              </div>
            </div>
            
            
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

     
    
      </section>
    </section>
  </div>
 

 
  


